<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>HomePage</title>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>

<body>

  <h1>World Happiness Project</h1>
  
  <h3>Maps</h3>

    <ol>
      <a href="{{url_for('mapMain')}}"> All Years</a>
      <a href="{{url_for('map2015')}}"> 2015</a>
      <a href="{{url_for('map2016')}}"> 2016</a>
      <a href="{{url_for('map2017')}}"> 2017</a>
      <a href="{{url_for('map2018')}}"> 2018</a>
      <a href="{{url_for('map2019')}}"> 2019</a>
    </ol>

    <t>Each map displays up to 157 countries. A circle represents each country by Happiness Rank according to color.</t><br><br>

    <t>Rank 1-10: Green</t><br>
    <t>Rank 11-25: Yellow</t><br>
    <t>Rank 26-50: Orange</t><br>
    <t>Rank 51-100: Red</t><br>
    <t>Rank 101-157: Brown</t><br><br>

    <t>The 'All Years' map displays circle size according to Happiness Rank over each year.</t><br><br>
    <t>Each subsequent map represents each country differently by size according to a selectable factor.</t><br>
    <t>I.e. GDP (Per Capita), Life Expectancy, and Government Trust.</t><br><br>

    <b>This project was created by Jonathan Arp, Gabe Cweigenberg, Jesse DeLaCruz, Nicolette Keplinger, and Dylan Kurbel.</b>

</body>

</html>