<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>HomePage</title>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>

<body>

  <h1>World Happiness Project</h1>
  <h2>Home Page</h2>

  
  <h3>Years (2015-2019)</h3>
    <ol>
      <a href="{{url_for('map2015')}}"> 2015</a>
      <a href="{{url_for('map2016')}}"> 2016</a>
      <a href="{{url_for('map2017')}}"> 2017</a>
      <a href="{{url_for('map2018')}}"> 2018</a>
      <a href="{{url_for('map2019')}}"> 2019</a>
    </ol>


</body>

</html>